<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" monitorInterval="30">

    <!-- 日志文件常用配置  -->
    <Properties>
        <!-- 统一日志打印格式 -->
        <Property name="LOG_PATTERN" value="[%d] [%p] [%c{1.}][%L]  [%t] %m %ex%n"/>
        <!-- JSON输出  只打印内容和换行-->
        <Property name="JSON_LOG_PATTERN" value="%m %ex%n"/>

    </Properties>

    <Appenders>


        <!--基本console日志 begin-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- 基本console日志 end-->



    </Appenders>


    <Loggers>

        <root level="info">
             <appender-ref ref="Console"/>
        </root>
    </Loggers>
</Configuration>
